.div-alert {
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

.input-erro {
	color: red;
	font-weight: bold;
}

.error {
	border: 1px solid red;
}

.dataTables_filter{
	padding: 5px;
}

.upper-text{
	text-transform: uppercase;
}

label{
	font-weight: bold;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0px;
}